html,
body,
.main-container {
  min-height: 100vh;
}

.centered-box {
  background-color: #fff;
  border-radius: 20px;
  width: 40%;
  margin-top: 5ex;
  margin-bottom: 5ex;
  min-width: 300px;
}

.hiddendiv.common {
  display: none;
}

@media (max-device-width: 300px) {
  .centered-box {
    width: 90vw;
  }
}
