<!doctype html>
<html>
  <head>
    {{> header}}
  </head>
  <body class="{{colour}}">
    <div class="valign-wrapper center-align main-container">
      <div class="section container centered-box">
        {{> @partial-block }}
      </div>
    </div>
  </body>
</html>
